body{
    max-width: 1100px;
}

header{
    color: white;
    background-color: #004175;
    padding: 35px;
    border-bottom: 3px solid #89DEEF;
}

#main-body{
    padding-left: 35px;
}

h2{
    padding-top: 15px;
    padding-bottom: 15px;
}

.description{
    padding-bottom: 2px;
}

#all-dogs{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;

}

/* img{
    max-width: 100%;
    max-height: auto;
} */

.dog{
    width: 320px;
    margin: 7px;
    margin-left: 0px;
}

h3{
    font-family: Oswald;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

li{
    border-radius: 20px;
    padding: 3px;
    background-color: #89DEEF;
    margin: 2px;
    font-size: 12px;
}

footer{
    display: flex;
}

nav{
    flex: 1 1 auto;
}

html{
    font-family: "Open Sans";
}

*{
    margin: 0;
}