body{
    max-width: 1200px;
}

header{
    color: white;
    background-color: #004175;
    padding: 35px;
    border-bottom: 3px solid #89DEEF;
}

#main-body{
    padding-left: 35px;
}

h2{
    padding-top: 15px;
    padding-bottom: 15px;
}

.dog{
    width: 300px;
}

h3{
    font-family: Oswald;
}

ul{
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

li{
    background-color: #89DEEF;
    margin: 3px;
    font-size: 13px;
}

html{
    font-family: "Open Sans";
}

*{
    margin: 0;
}