header{
    color: white;
    background-color: #004175;
    padding: 35px;
    border-bottom: 3px solid #89DEEF;
}

h3{
    font-family: "Oswald";
}

html{
    font-family: "Open Sans";
}

*{
    margin: 0;
}